---
import LayoutOuter from "../layouts/LayoutOuter.astro";
interface Props {
	title: string;
	active?: string;
}

const { title, active = "1" } = Astro.props;
let activeTab = parseInt(active);
//document.getElementsByTagName("nav")[0].children[activeTab].classList.add("active");

function activeTabClass():string {
	activeTab--;
	return activeTab === 0 ? "active" : "";
}

---
<LayoutOuter title={ (title + " - Maßnahme Details") }>
	<a href="/" id="return">Zurück zur Übersicht</a>
	<h2>{title}</h2>
	<nav>
		<a href="/basics" class:list={activeTabClass()}>Basisdaten</a>
		<a href="/protocol" class:list={activeTabClass()}>Bearbeitung</a>
		<a href="/energy" class:list={activeTabClass()}>Energieeffizienz</a>
		<a href="/cost" class:list={activeTabClass()}>Wirtschaftlichkeit</a>
	</nav>
	<div class="tab-container">
		<slot />
	</div>
</LayoutOuter>

<style define:vars={{active}}>
	#return {
		font-size: 12px;
		margin-left: 6px;
	}

	#return::before {
		content: "\2329";
        display: inline-block;
        font-weight: bold;
        transform: translate(-5px, -1px);
	}

	.tab-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	nav {
		display: flex;
		flex-direction: row;
		gap: 0;
		box-shadow: inset 0 -1px 0 0 var(--borders);
	}

	nav a {
		font-size: 16px;
		text-decoration: none;
		padding: 10px 20px;
		color: var(--text-light);
	}

	nav a:hover {
		color: var(--text);
	}

	nav a.active {
		color: var(--text);
		background-color: #f3f3f3;
		border: var(--borders) 1px solid;
		border-radius: 5px 5px 0 0;
		border-bottom: none;
		cursor: default;
	}
</style>